<link rel="stylesheet" href="/static/css/diary_edit.css">

{% extends "diary.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block content %}
<div class="diary-contents">
    <form method="POST" action="{{ url_for('diary_edit', diary_id=diary.diary_id) }}" enctype="multipart/form-data">
        <h1>Edit Diary</h1>
        <label for="diary_title">Title:</label>
        <input type="text" name="diary_title" id="diary_title" value="{{ diary.diary_title }}" required>
    
        <label for="diary_date">Date:</label>
        <input type="date" name="diary_date" id="diary_date" value="{{ diary.diary_date.strftime('%Y-%m-%d') }}" required>
    
        <label for="diary_content">Content:</label>
        <textarea name="diary_content" id="diary_content" required>{{ diary.diary_content }}</textarea>
    
        <label for="diary_image">Media (image or video):</label>
        <div class="file-container">
            <input type="file" name="diary_image" id="diary_image" accept="image/*,video/*" onchange="previewMedia()">
            <button type="button" id="delete_media_button" onclick="deleteMedia()" style="display: none;">Delete</button>
        </div>
    
        <!-- 隠しフィールドで既存の画像 URL を保持 -->
        <input type="hidden" name="existing_imageurl" id="existing_imageurl" value="{{ diary.diary_imageurl }}">
    
        <div id="image_preview_container" style="display: none;">
            <img id="image_preview" src="#" alt="Image Preview" style="max-width: 100%; height: auto;">
        </div>
        
        <div id="video_preview_container" style="display: none;">
            <video id="video_preview" style="max-width: 100%; height: auto;" controls></video>
        </div>        
    
        <div class="button-container">
            <a href="{{ url_for('diary_detail', diary_id=diary.diary_id) }}" class="back-button">Back to Diary</a>
            <button type="submit">Update Diary</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='../static/js/preview_edit.js') }}"></script>

{% endblock %}
